{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-color: #2b2d42;"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" style="background-color: #2b2d42;"></button>
        <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'app/img/pagina/1410013838_BannerWeb_1000x301-SEGUIMIENTO.png' %}" class="d-block w-100" alt="..." data-interval="1000" style="height: 271px; width: auto; object-fit: cover;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'app/img/pagina/2207063908_BannerWeb_1280x340-01.png' %}" class="d-block w-100" alt="..." data-interval="1000" style="height: 271px; width: auto; object-fit: cover;">
        </div>
        <!-- <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div> -->
        </div>
        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon icon--previousedited" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon icon--nextedited" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="Seccion1" style="width: 85%; margin-left: 9vw;" >
    <h1 class="h1_title">Buscas lo mejor para tu Buddie!</h1>
    <div class="d-flex flex-row flex-wrap">
    <a href="#" style="text-decoration: none; color: #2B2D42">
        <div class="card card-mobile">
            <img class="card-img-top card_imagen" src="{% static 'app/img/animales/gato.jpg' %}" alt="Card image cap">
            <div class="card-body card_text">
                <p class="card-text card_tittle">Felinos</p>
            </div>
        </div>
    </a>
    <a href="#" style="text-decoration: none; color: #2B2D42">
        <div class="card card-mobile">
            <img class="card-img-top card_imagen" src="{% static 'app/img/animales/perro.jpg' %}" alt="Card image cap">
            <div class="card-body card_text">
                <p class="card-text card_tittle">Caninos</p>
            </div>
        </div>
    </a>
    <a href="#" style="text-decoration: none; color: #2B2D42">
        <div class="card card-mobile">
            <img class="card-img-top card_imagen" src="{% static 'app/img/animales/ave.jpg' %}" alt="Card image cap">
            <div class="card-body card_text">
                <p class="card-text card_tittle">Aves</p>
            </div>
        </div>
    </a>
    <a href="#" style="text-decoration: none; color: #2B2D42">
        <div class="card card-mobile">
            <img class="card-img-top card_imagen" src="{% static 'app/img/animales/tortuga.jpg' %}" alt="Card image cap">
            <div class="card-body card_text">
                <p class="card-text card_tittle">Reptiles</p>
            </div>
        </div>
    </a>
    <a href="#" style="text-decoration: none; color: #2B2D42">
        <div class="card card-mobile">
            <img class="card-img-top card_imagen" src="{% static 'app/img/animales/pez.png' %}" alt="Card image cap">
            <div class="card-body card_text">
                <p class="card-text card_tittle">Acuaticos</p>
            </div>
        </div>
    </a>
    <a href="#" style="text-decoration: none; color: #2B2D42">
        <div class="card card-mobile">
            <img class="card-img-top card_imagen" src="{% static 'app/img/animales/hamster.png' %}" alt="Card image cap">
            <div class="card-body card_text">
                <p class="card-text card_tittle">Roedores</p>
            </div>
        </div>
    </a>
    </div>
</div>
<img src="{% static 'app/img/pagina/donaaqui.png' %}" alt="" class="img__divisor">
<div class="Seccion2" style="width: 85%; margin-left: 9vw;" >
    <h1 class="h1_title">Productos recomendados</h1>
    <div class="d-flex flex-row flex-wrap">
        {% for p in productos %}
        <a href="#" style="text-decoration: none;">
            <div class="card card-mobile--producto">
                <img class="card-img-top card_imagen--producto" src="{% static 'app/img/Productos/p.nombre.jpg' %}" alt="Card image cap">
                <div class="card-body card_text">
                    <p class="card-text card_tittle--tipo">{{p.tipo_producto}}</p>
                    <p class="card-text card_tittle--nombre">{{p.nombre}}</p>
                    <p class="card-text card_tittle--precio">{{p.precio}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock contenido %}