{% extends 'app/base.html' %}
{% load static %}

{% block contenido %}
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-color: #2b2d42;"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" style="background-color: #2b2d42;"></button>
        <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
    </div>
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <img src="{% static 'app/img/pagina/1410013838_BannerWeb_1000x301-SEGUIMIENTO.png' %}" class="d-block w-100" alt="..." data-interval="1000" style="height: 271px; width: auto; object-fit: cover;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'app/img/pagina/2207063908_BannerWeb_1280x340-01.png' %}" class="d-block w-100" alt="..." data-interval="1000" style="height: 271px; width: auto; object-fit: cover;">
        </div>
        <!-- <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div> -->
        </div>
        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon icon--previousedited" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon icon--nextedited" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container mt-5">
    <h1 class="h1_title">Buscas lo mejor para tu Buddie!</h1>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-xl-6  g-3">
        {% for m in mascotas %}
        <div class="col">
            <a href="#" style="text-decoration: none; color: #2B2D42">
                <div class="card card-mobile">
                    <img class="card-img-top card_imagen" src="{{m.imagen.url}}" alt="Card image cap">
                    <div class="card-body card_text">
                        <p class="card-text card_tittle">{{m.nombre}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container mt-5 mb-5">
    <img src="{% static 'app/img/pagina/donaaqui.png' %}" alt="" class="w-100 h-100">
</div>

{% load humanize %}
<div class="container mt-5">
    <h1 class="h1_title">Productos recomendados</h1>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-xl-6 g-3">
        {% for p in productos %}
            <div class="col">
                {% if p %}
                    <a href="#" style="text-decoration: none;">
                        <div class="card card-mobile--producto">
                            <img class="card-img-top card_imagen--producto" src="{{p.imagen.url}}" alt="Card image cap">
                            <div class="card-body card_text">
                                <p class="card-text card_tittle--tipo">{{p.tipo_producto | capfirst}}</p>
                                <p class="card-text card_tittle--nombre">{{p.nombre | title}}</p>
                                <p class="card-text card_tittle--precio">${{p.precio | intcomma}}</p>
                            </div>
                        </div>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock contenido %}
